# Python (Flask) specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.env
instance/
.flaskenv
celerybeat-schedule
.pytest_cache/

# Node (React) specific ignores
node_modules/
build/
dist/
.parcel-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Operating System specific ignores
.DS_Store
.Trashes
Thumbs.db

# IDE specific ignores (e.g., VS Code)
.vscode/
.idea/

# Editor specific ignores
*~
*.swp
.DS_Store

# Logs and temporary files
*.log
tmp/