services:
  postgres:
    image: postgres:16
    container_name: ddos_postgres
    env_file:
      - .env.docker
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    container_name: ddos_backend
    env_file:
      - .env.docker
    depends_on:
      - postgres
    command: python -m flask run --host=0.0.0.0 --port=5000
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app


  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - .env.docker
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
